# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Backup & Temporary files
*~
out
*.gz
Atom
IDEA
Eclipse
*.AppDir
c40ff5b4-7137-11e6-90ce-ea3bbd5fef6a.deb?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAISTNZFOVBIJMK3TQ%2F20160902%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20160902T080843Z&X-Amz-Expires=300&X-Amz-Signature=b4779b138d9c85a1dc7
eclipse-cpp
recipes/netbeans/netbeans
Emacs
*.deb
App*
sources.list
status
tmp
OpenRA
CodeBlocks
appimagetool
CodeLite
RuneScape
runescape-launcher
recipes/meta/messengerfordesktop/messengerfordesktop
recipes/meta/blockify/blockify
SuperTux
supertux2
qBittorrent
recipes/meta/*/gvim-gtk2
recipes/meta/*/netbeans
recipes/meta/*/Atom-Beta
recipes/meta/*/SuperTux2
recipes/meta/*/Octave
debian1.6.1
recipes/meta/code-oss/code-oss
recipes/meta/bluefish/bluefish
recipes/meta/geany/Geany
recipes/meta/smplayer/smplayer
recipes/meta/freecol/freecol
recipes/meta/freecol/Freecol
recipes/meta/manaplus/manaplus
recipes/meta/freeciv/freeciv
recipes/meta/freeciv/freeciv-gtk2
recipes/meta/freeciv/freeciv-client-gtk
recipes/meta/megaglest/megaglest
recipes/meta/warzone2100/warzone2100
recipes/meta/spotify/Spotify
recipes/meta/terminix/Terminix
recipes/terminix/Terminix
